.head{
    background-color:  #264653;
    color: white;
}
/*.menu {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    
}*/
.bton{
    background-color: #E76F51;
}
/*.img-width img{
    width: 100%;
    padding-left: 150px;
    padding-bottom: 40px;
}*/
.blod hr{
    width: 75px;
    text-align: center;
}
.orange{
    color: #E76F51;
    
}
.image img{
    width: 100%;
}
.img-1 {
    filter: grayscale(100%);
}
.img-3 {
    filter: grayscale(100%);
}
.img-1:hover {
    filter: grayscale(0%);
}
.img-3:hover {
    filter: grayscale(0%);
}
.img-sizeing img{
    width: 30%;
    padding-left: 5px;
   
}
.sec-header{
    height: 50px;
    margin-top: 200px;
}
.sec-header span{
    color: #E76F51;
}

.copyright{
    color: white;
    margin-left: 65px;
    margin-top: 40px;
}
.copyright img{
    width: 27px;
}
.app{
    color: white;
    font-size: 20px;
    font-weight: 200;
}




